<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "net.northmyrtle.cca"
        version   = "0.0.5">
    <name>CCA</name>
 
    <description>
        Conners Cool App
    </description>

    <author href="http://www.northmyrtle.net" email="support@northmyrtle.net">
        Northmyrtle Associates LLC
    </author>

</widget>
